<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<h1>Add Employee</h1>
<form action="../App/AddEmployee.php" method="post">

    <label for="seniority_rating_id">Seniority Rating ID:</label>
    <input type="text" name="seniority_rating_id" id="seniority_rating_id"><br>

    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" id="first_name"><br>

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" id="last_name"><br>

    <label for="contact_number">Contact Number:</label>
    <input type="text" name="contact_number" id="contact_number"><br>

    <label for="email_address">Email Address:</label>
    <input type="email" name="email_address" id="email_address"><br>

    <label for="date_of_birth">Date of Birth:</label>
    <input type="date" name="date_of_birth" id="date_of_birth"><br>

    <label for="street_address">Street Address:</label>
    <input type="text" name="street_address" id="street_address"><br>

    <label for="city">City:</label>
    <input type="text" name="city" id="city"><br>

    <label for="postal_code">Postal Code:</label>
    <input type="text" name="postal_code" id="postal_code"><br>

    <label for="country">Country:</label>
    <input type="text" name="country" id="country"><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>